.top {
color: red;
}

.index {
    width: 50%;
    display:inline-block;
}

#top-index {
    width: 50%;
    float:right;
}

body {
padding-left:100px;
font-size: 1.2rem;
padding-right:50px;
padding-bottom: 50px;
padding-top:50px;
}

input[src]{
width: 29px;
height:27px;
margin-left: -30px;
margin-bottom: -10px;
position:absolute;
margin-top: 3px;
padding: 3px;
background-color: aliceblue;
}


input{
width:540px;
font-size: 1rem;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
.pagination {

    margin: 10px 0;

    margin-top: 0;

    margin-bottom: 0;

    }
    .pagination ul {
    list-style-type: none;
    }
    .pagination ul li {
         display: inline;
         padding:10px;
    }

#top_result {
    font-size: 1.1rem;
    display: inline-block;
    margin-top: 10px;

}

th {
    text-align:center;
}

.modal-content {
    width:120%;
}

#modal_table {
    table-layout:fixed;
    }
    #modal_table td.modal_cell_1 {
        max-width: 335px;
        min-width: 335px; 
        }
        .modal_cell_1 a {
        word-break: break-word;         
            }
     #modal_table td.modal_cell_2 {
        max-width: 530px;
        }
        .modal_cell_2 a {
            word-break: break-word;         
            }

#ui-id-1 {
    list-style-type: none;
    padding-left: 0px;
    background: aliceblue;
    margin-bottom:0px;
    /*max-height: 500px;*/
    overflow:scroll;
    overflow-x:hidden;
    width: 1754px;
    }

.ui-helper-hidden-accessible {
    background: lightskyblue;
    width: 1754px;
    /*position:absolute;
    top:580px;*/
}
